@import "settings";

* {
	font-family: $font-family;
	vertical-align: baseline;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
